node_modules/
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
.DS_Store

# Scripts
bin/localscripts/*

# Test results
TESTS-Firefox*
acceptance-tests*
server-tests*
load-tests*
